﻿html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background:transparent;
}

.resizeGrip {
	background: lightblue;
	border: 1px solid blue;
	position: absolute;
}

#content {
	position: absolute;
	top:10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 10px;
}

#resizeGripTop {
	height: 10px;
	top: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 10px;
	left: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 10px;
	right: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 10px;
	height: 10px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 10px;
	height: 10px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 10px;
	height: 10px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}
.auto-style1 {
	text-align: center;
	background-color: #000000;
}
.auto-style3 {
	text-align: center;
	color: #7FFF00;
}
.auto-style4 {
	text-decoration: underline;
}
.auto-style5 {
	text-align: center;
}
.auto-style6 {
   text-align: center;
	margin-top: 0px;
}
.auto-style7 {
   text-align: center;
	margin-top: 0px;
	color: #FFFFFF;
	font-size: x-small;
}